/* Home */

#home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

#dnd-button {
  font-family: 'Grenze', serif;
  color: orangered;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 10% 20%;
  cursor: pointer;
  border: 1px solid darkgray;
  border-radius: 3%;
}

/* Skills */
.sheet-row {
  display: flex;
  justify-content: space-around;
}

.skill-button {
  height: 30px;
  width: 30%;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
}

.skill-button.class-skill {
  background: gold;
}

.skill-button.selected {
  border: 2px solid black;
  text-decoration: underline;
}